*{
    margin: 0; padding: 0; font-family: 'Popins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #39297b; color: #fff;
}

h1{
    text-align: center; margin: 80px auto 50px;
    font-weight: 600; font-size: 2em;
}

#search-form{
    width: 90%; max-width: 600px; margin: auto;
    height: 80px; border-radius: 8px;
    background: #434989; display: flex; align-items: center;
}

form input{
    flex: 1; height: 100%;
    border: 0; outline: 0;
    background: transparent; color: white;
    font-size: 1.2em; padding: 0 30px;
}

form button{
    padding: 0 40px; height: 100%;
    border: 0; outline: 0;
    background: #ff3929; color: #fff;
    font-size: 1.2em;
    border-top-right-radius: 8px; border-bottom-right-radius: 8px;
    cursor: pointer;
}

::placeholder{
    color: #fff; font-size: 1.2em;
}

#show-more-btn{
    background: #ff3929; color: #fff;
    border: 0; outline: 0;
    padding: 10px 20px; margin: 10px auto 100px;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

#search-result{
    width: 80%; margin: 50px auto 50px;
    display: grid; grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

#search-result img{
    width: 100%; height: 230px;
    object-fit: cover; border-radius: 5px;
    display: grid; grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px; border: 2px solid black;
    box-shadow: 2px 2px 10px white;
}

@media (width < 1000px){
    h1{
        font-size: 1.7em;
    }
    #search-form{
        width: 90%; margin: 25px;    
    }
    form input{
        width: 200px;
    }
    #search-result{
        width: 90%; grid-template-columns: 1fr;
        grid-gap: 30px;
    }
    #search-result img{
        height: 250px;
    }
}